<template>
  <require from="./foot.scss"></require>

  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright - 2019 <strong>DevIT</strong>. All Rights Reserved
      </div>
      <div class="credits">

        Made by <a href="https://www.linkedin.com/in/boris-dedejski/">Boris Dedejski</a>
      </div>
    </div>
  </footer>
</template>
