<template>
  <!-- TOP SECTION -->
  <require from="./navbar.scss"></require>
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="far fa-envelope"></i> <a href="mailto:contact@example.com">contact@example.com</a>
        <i class="fas fa-phone"></i> <a href="tel:+6494461709">+6494461709</a>
      </div>
      <div class="social-links float-right">
        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" class="google-plus"><i class="fab fa-google-plus"></i></a>
        <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </section>
  <!-- HEADER -->
  <header id="header">
    <div class="container">
      <a href="#body"><img src="../../../../static/images/logo.png" alt="" title=""
          style="height:50px;width:100px;" /></a>
      <nav id="navbar-nav-container" class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li repeat.for="route of router.navigation" class="nav-item">
              <a href.bind="route.href" class="nav-link ${route.isActive==true ? 'active': ''}">
                ${route.title}
              </a>
            </li>
            <!-- <li repeat.for="route of router.routes" class="nav-item">
              <a href.bind="route.navModel.href" class="nav-link ${route.navModel.isActive === true ? 'active': ''}">
                ${route.title}
              </a>
            </li> -->
            <!-- <li class="nav-item active">
              <a class="nav-link" click.delegate="navigateToHome()">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" click.delegate="navigateToAbout()">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Join us</a>
            </li> -->
          </ul>
        </div>

      </nav>
    </div>
  </header>
</template>
