@import "../../../shared/styles/generic-styles.scss";
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #555;
}

#topbar .contact-info a:hover {
  color: $primary-color;
}

#topbar .contact-info i {
  color:$primary-color;
  padding: 4px;
}

#topbar .contact-info .fa-phone {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a {
  color: #555;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a:hover {
  color:$primary-color;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

#header {
  padding: 20px 0;
  height: 84px;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

#header #logo h1 {
  font-size: 42px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#header #logo h1 a {
  color: #0c2e8a;
  line-height: 1;
  display: inline-block;
}

#header #logo h1 a span {
  color: $primary-color;
}

#header #logo img {
  padding: 0;
  margin: 0;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.navbar-nav,
.navbar-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-nav ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.navbar-nav li {
  position: relative;
  white-space: nowrap;
}

.navbar-nav > li {
  float: left;
  padding: 0px 8px;
}

.navbar-nav li:hover > ul,
.navbar-nav li.sfHover > ul {
  display: block;
}

.navbar-nav ul ul {
  top: 0;
  left: 100%;
}

.navbar-nav ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#navbar-nav-container {
  float: right;
  margin: 0;
}

/* Nav Meu Styling */

.navbar-nav a {
  padding: 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  outline: none;
}

.navbar-nav ul li {
  transition: 0.3s;
}

.navbar-nav ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

// .navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: $primary-color;
}
.nav-link:hover{
  cursor: pointer;
}

.nav-link active{
  color:$primary-color;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: $primary-color;
  // border-top: 2px solid $primary-color;
}

@media (max-width: 768px) { //bootstrap 3 collapses navbar at 768px
  .navbar-nav{
      position: absolute;
      width: 100%;
      z-index: 9999;
  }
}

