<template>
  <require from="./carousel.scss"></require>
  <section id="intro">
    <div class="intro-content">
      <h2>Making <span>your homes</span><br>since 1990</h2>
      <div>
        <a href="#about" class="btn-get-started scrollto">Our Services</a>
        <a href="#portfolio" class="btn-projects scrollto">Our Projects</a>
      </div>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../../../static/images/carousel-images/1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../../static/images/carousel-images/2.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../../static/images/carousel-images/3.jpg" alt="First slide">
        </div>
      </div>
    </div>
  </section>
</template>
