<template>
  <require from="../resources/elements/layout/navbar"></require>
  <require from="../resources/elements/layout/foot"></require>
  <require from="./about.scss"></require>

  <navbar></navbar>

  <section id="about">
    <div class="container">
      <div class="section-header">
        <h2>About us</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 about-img">
          <div style="width: 100%; height: 0px; position: relative; padding-bottom: 56.250%;">
            <img src="../../static/images/about-us.png">
          </div>
        </div>
        <div class="col-lg-6 content">
          <h3>MAKEDOSTAV is civil engineering company who is building homes since 1990. Recognized by its
            professionality,
            quality, MAKEDOSTAV is one of the leading companies in Czech Republic in the field of civil engineering
            MAKEDOSTAV is civil engineering company who is building homes since 1990. Recognized by its
            professionality,
            quality, MAKEDOSTAV is one of the leading companies in Czech Republic in the field of civil engineering
            MAKEDOSTAV is civil engineering company who is building homes since 1990. Recognized by its
            professionality,
            quality, MAKEDOSTAV is one of the leading companies in Czech Republic in the field of civil engineering
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 content">
          <p>professionality,
            quality, MAKEDOSTAV is one of the leading companies in Czech Republic in the field of civil engineering
            MAKEDOSTAV is civil engineering company who is building homes since 1990. Recognized by its
            professionality,
            quality, MAKEDOSTAV is one of the leading companies in Czech Republic in the field of civil engineering
            MAKEDOSTAV is civil engineering company who is building homes since 1990. Recognized by its
            professionality,
            quality, MAKEDOSTAV is one of the leading companies in Czech Republic in the field of civil engineering</p>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>Services</h2>
        <p>Makedostav basically does everything that has in common with civil engineering. Our main focus are
          satisfied clients and making their homes. <br>
          <span>Our all services are available <a href="#">here</a></span>
        </p>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="boxabout wow fadeInLeft">
            <div class="icon"><i class="fas fa-home"></i></div>
            <h4 class="title"><a href="">House</a></h4>
            <p class="description">Over 200+ families have build their houses with Makedostav
              all of them can be viewed in our portfolio <span><a href="#">here</a></span>
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="boxabout wow fadeInLeft">
            <div class="icon"><i class="fas fa-building"></i></div>
            <h4 class="title"><a href="">House</a></h4>
            <p class="description">Over 200+ families have build their houses with Makedostav
              all of them can be viewed in our portfolio <span><a href="#">here</a></span>
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="boxabout wow fadeInLeft" data-wow-delay="0.2s">
            <div class="icon"><i class="fas fa-tools"></i></div>
            <h4 class="title"><a href="">Fixing </a></h4>
            <p class="description">If you need a little repair or just a renovation it doesn't matter. <br>Your
              problem
              can be solved with Makedostav.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="boxabout wow fadeInRight" data-wow-delay="0.2s">
            <div class="icon"><i class="fas fa-hammer"></i></div>
            <h4 class="title"><a href="">Building </a></h4>
            <p class="description">You want an extra camp in your door or you want a small project in your home
              Your problem can be solved with Makedostav.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="boxabout wow fadeInRight" data-wow-delay="0.2s">
            <div class="icon"><i class="fas fa-hammer"></i></div>
            <h4 class="title"><a href="">Building </a></h4>
            <p class="description">You want an extra camp in your door or you want a small project in your home
              Your problem can be solved with Makedostav.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="boxabout wow fadeInRight" data-wow-delay="0.2s">
            <div class="icon"><i class="fas fa-hammer"></i></div>
            <h4 class="title"><a href="">Building </a></h4>
            <p class="description">You want an extra camp in your door or you want a small project in your home
              Your problem can be solved with Makedostav.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="team" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Our Team</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="pic"><img src="../../static/images/meto1.jpg" alt=""></div>
            <div class="details">
              <h4>Metodi Frenkov</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <!-- <a href=""><i class="fa fa-twitter"></i></a> -->
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
                <a href=""><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="pic"><img src="../../static/images/meto2.jpg" alt=""></div>
            <div class="details">
              <h4>Metodi Frenkov</h4>
              <span>Product Manager</span>
              <div class="social">
                <!-- <a href=""><i class="fa fa-twitter"></i></a> -->
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
                <a href=""><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="pic"><img src="../../static/images/team-3.jpg" alt=""></div>
            <div class="details">
              <h4>William Anderson</h4>
              <span>CTO</span>
              <div class="social">
                <!-- <a href=""><i class="fa fa-twitter"></i></a> -->
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
                <a href=""><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="pic"><img src="../../static/images/team-4.jpg" alt=""></div>
            <div class="details">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
              <div class="social">
                <!-- <a href=""><i class="fa fa-twitter"></i></a> -->
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
                <a href=""><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <foot></foot>
</template>
