<template>
  <require from="./contact.scss"></require>
  <require from="../resources/elements/layout/navbar"></require>
  <require from="../resources/elements/layout/foot"></require>

  <navbar></navbar>
  <section id="contact" class="wow fadeInUp">
    <div class="container">

      <div class="section-header">
        <h2>Contact Us</h2>
        <p>Feel free to contact us on <a href="mailto:contact@example.com">contact@example.com</a>
          or directly here. Our team will respond as soon as posible</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-6">
          <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAbIzziiwF8gpTOkpyIIWF8Hacsd5m5YBY
              &q=Londýnská 309/81
              120 00 Prague, Czech Republic" allowfullscreen>
          </iframe>
        </div>
        <div class="col-md-6 col-lg-6">
          <div>
            <!-- <div id="sendmessage">Your message has been sent. Thank you!</div> -->
            <!-- <div id="errormessage"></div> -->
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                  data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button class="submitbtn" type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row contact-info">
        <div class="col-md-4">
          <div class="contact-address">
            <i class="fas fa-map-marker-alt"></i>
            <h3>Address</h3>
            <address>A108 Adam Street, NY 535022, USA</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="fas fa-phone"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="far fa-envelope"></i>
            <h3>Email</h3>
            <p><a href="mailto:info@example.com">info@example.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <foot></foot>

</template>
