<template>
  <require from="./home.scss"></require>
  <require from="../resources/elements/layout/navbar"></require>
  <require from="../resources/elements/layout/foot"></require>
  <require from="../resources/elements/carousel/carousel"></require>

  <body>
    <navbar></navbar>
    <carousel></carousel>
    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <div style="width: 100%; height: 0px; position: relative; padding-bottom: 56.250%;">
              <iframe src="https://streamable.com/s/gil7b/nqruxk?autoplay=1" frameborder="0" width="100%" height="100%"
                allowfullscreen allow="autoplay" style="width: 100%; height: 100%; position: absolute;"></iframe>
            </div>
            <!-- For video -->
            <!-- <video id="myplayer" loop playsinline autoplay muted class="video-js" controls preload="auto"
              poster="//vjs.zencdn.net/v/oceans.png" data-setup='{}'>
              <source src="../dalifinal2.mp4" type="video/mp4">
              </source>
              <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm">
              </source>
              <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
              </source>

              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">
                  supports HTML5 video
                </a>
              </p>
            </video> -->
            <!-- <img src="../../static/images/about-img.jpg" alt=""> -->
          </div>
          <div class="col-lg-6 content">
            <h2>Who we are </h2>
            <h3>MAKEDOSTAV is civil engineering company who is building homes since 1990. Recognized by its
              professionality,
              quality, MAKEDOSTAV is one of the leading companies in Czech Republic in the field of civil engineering
            </h3>
            <ul>
              <li><i class="fas fa-check-circle icons"></i> Award for best high construction company in Prague 2018.
              </li>
              <li><i class="fas fa-check-circle icons"></i> Best prices in the region of Prague.</li>
              <li><i class="icons fas fa-check-circle "></i> Over 250+ succesfully completed projects .</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Services</h2>
          <p>Makedostav basically does everything that has in common with civil engineering. Our main focus are
            satisfied clients and making their homes. <br>
            <span>Our all services are available <a href="#">here</a></span>
          </p>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fas fa-home"></i></div>
              <h4 class="title"><a href="">House</a></h4>
              <p class="description">Over 200+ families have build their houses with Makedostav
                all of them can be viewed in our portfolio <span><a href="#">here</a></span>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fas fa-building"></i></div>
              <h4 class="title"><a href="">Skyscraper</a></h4>
              <p class="description">Over 20+ business centers, high constructions are built by Makedostav.
                Take a look at them <br><span><a href="#">here</a></span>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fas fa-tools"></i></div>
              <h4 class="title"><a href="">Fixing </a></h4>
              <p class="description">If you need a little repair or just a renovation it doesn't matter. <br>Your
                problem
                can be solved with Makedostav.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fas fa-hammer"></i></div>
              <h4 class="title"><a href="">Building </a></h4>
              <p class="description">You want an extra camp in your door or you want a small project in your home
                Your problem can be solved with Makedostav.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- #services -->
    <!--==========================
      Clients Section
    ============================-->
    <div class="container">
      <div class="section-header">
        <h2>Clients</h2>
      </div>
      <section id="clients" class="customer-logos slider">
        <div class="slide"><img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg">
        </div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg">
        </div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg">
        </div>
        <div class="slide"><img
            src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg"></div>
      </section>
    </div>

    <!--==========================
      Our Portfolio Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Our Portfolio</h2>
          <p>Take a look at some of our current projects. Feel free to see all our portfolio <span><a
                href="#">here</a></span></p>
        </div>
      </div>

      <div class="container">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../static/images/portfolio/1.jpg" class="portfolio-popup">
                <img src="../../static/images/portfolio/1.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <!-- <h2 class="wow fadeInUp">See more</h2> -->
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../static/images/portfolio/2.jpg" class="portfolio-popup">
                <img src="../../static/images/portfolio/2.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <!-- <h2 class="wow fadeInUp">Portfolio Item 2</h2> -->
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../static/images/portfolio/3.jpg" class="portfolio-popup">
                <img src="../../static/images/portfolio/3.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <!-- <h2 class="wow fadeInUp">Portfolio Item 3</h2> -->
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../static/images/portfolio/4.jpg" class="portfolio-popup">
                <img src="../../static/images/portfolio/4.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <!-- <h2 class="wow fadeInUp">Portfolio Item 4</h2> -->
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../static/images/portfolio/5.jpg" class="portfolio-popup">
                <img src="../../static/images/portfolio/5.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <!-- <h2 class="wow fadeInUp">Portfolio Item 5</h2> -->
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../static/images/portfolio/6.jpg" class="portfolio-popup">
                <img src="../../static/images/portfolio/6.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <!-- <h2 class="wow fadeInUp">Portfolio Item 6</h2> -->
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../static/images/portfolio/7.jpg" class="portfolio-popup">
                <img src="../../static/images/portfolio/7.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <!-- <h2 class="wow fadeInUp">Portfolio Item 7</h2> -->
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../static/images/portfolio/8.jpg" class="portfolio-popup">
                <img src="../../static/images/portfolio/8.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <!-- <h2 class="wow fadeInUp">Portfolio Item 8</h2> -->
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Testimonials Section
    ============================-->
    <section id="testimonials" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Testimonials</h2>
          <p>What our clients can say to you</p>
        </div>
        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <p>
              <img src="../../static/images/testimonial/quote-sign-left.png" class="quote-sign-left" alt="">
              Working with makedostav was pleasure, nice people nice crew all 10s
              <img src="../../static/images/testimonial/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
            <img src="../../static/images/testimonial/testimonial-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <img src="../../static/images/testimonial/quote-sign-left.png" class="quote-sign-left" alt="">
              I cannot imagine how my house looked before and how it looks now
              <img src="../../static/images/testimonial/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
            <img src="../../static/images/testimonial/testimonial-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <img src="../../static/images/testimonial/quote-sign-left.png" class="quote-sign-left" alt="">
              Great i recommend to all. Professionality and a real change in the civil engineering
              <img src="../../static/images/testimonial/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
            <img src="../../static/images/testimonial/testimonial-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <img src="../../static/images/testimonial/quote-sign-left.png" class="quote-sign-left" alt="">
              I will recomend it to all. Best prices
              <img src="../../static/images/testimonial/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
            <img src="../../static/images/testimonial/testimonial-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <img src="../../static/images/testimonial/quote-sign-left.png" class="quote-sign-left" alt="">
              Best prices, profesionallity and quality is all you can find at one place at makedostav
              <img src="../../static/images/testimonial/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
            <img src="../../static/images/testimonial/testimonial-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
          </div>
        </div>
      </div>
    </section><!-- #testimonials -->

    <foot></foot>
  </body>
</template>
