<template>
  <require from="../resources/elements/layout/navbar"></require>
  <require from="../resources/elements/layout/foot"></require>
  <require from="./job-details.scss"></require>

  <navbar></navbar>

  <section id="job-details">
    <img class="img-back" src="../../static/images/office.jpg">
    <div class="job-details-content">
      <h2>Marketing Manager</h2>
      <span><strong class="subheading">Prague, Czech Republic</strong></span>
    </div>
  </section>

  <br>
  <div class="container">
    <div class="row">
      <h4><strong>Full time - Competitve salary</strong></h4>
    </div>
    <div class="row">
      <h4 class="job-heading">Job description</h4>
      <span>SoPro is seeking a full-time IT Administrator to join our growing team, this role is based in our Skopje
        office.
        The ideal candidate should be able to diagnose and resolve problems quickly, with commercial experience in
        setting
        up, maintaining and upgrading software, hardware and networks.
        All work will be in English language, we are looking for candidates with exceptional written and spoken English.
        Skill set should include resourcefulness, organization, strong communication skills to collaborate with variety
        of
        teams and users.
      </span>
    </div>
    <br>
    <div class="row">
      <h4 class="job-heading">Key responsibilities</h4>
    </div>
    <div class="row">
      <ul>
        <li>Installation and configuration of software and hardware</li>
        <li>Installation and configuration of software and hardware</li>
        <li>Installation and configuration of software and hardware</li>
        <li>Installation and configuration of software and hardware</li>
        <li>Installation and configuration of software and hardware</li>
      </ul>
    </div>

    <div class="row">
      <h4 class="job-heading">Requirements</h4>
    </div>
    <div class="row">
      <ul>
        <li>Installation and configuration of software and hardware</li>
        <li>Installation and configuration of software and hardware</li>
        <li>Installation and configuration of software and hardware</li>
        <li>Installation and configuration of software and hardware</li>
        <li>Installation and configuration of software and hardware</li>
      </ul>
    </div>
    <div class="row">
      <h4 class="job-heading">What you will get</h4>
    </div>
    <div class="row">
      <span>At SoPro we invest in our people – they are what makes our company great and we work hard to make sure that
        everyone
        feels like a valued member of the team. Some of the perks we offer:</span>
      <ul>
        <li>Competitive salary</li>
        <li>Installation and configuration of software and hardware</li>
        <li>Installation and configuration of software and hardware</li>
        <li>Installation and configuration of software and hardware</li>
        <li>Installation and configuration of software and hardware</li>
      </ul>
      <span>At SoPro we invest in our people – they are what makes our company great and we work hard to make sure that
        everyone
        feels like a valued member of the team. Some of the perks we offer:</span>
      <span>To apply please send a copy of your CV to <a
          href="mailto:contact@example.com">contact@example.com</a></span>
    </div>
  </div>

  <foot></foot>
</template>
