@import '../shared/styles/generic-styles';

/*--------------------------------------------------------------
# Job-details Section
--------------------------------------------------------------*/
.img-back{
 width:100%;
 height:50vh;
 opacity:0.7;
}
#job-details {
  width: 100%;
  height: 50vh;
  position: relative;
  // background:url("../../static/images/office.jpg") no-repeat;
  background-size: cover;
  background-color: $secondary-color;

}

#job-details .job-details-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

#job-details .job-details-content h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
}
#job-details .job-details-content span {
  color: #fff;
  margin-bottom: 30px;
  font-size: 20px;
}

.job-heading{
  color:$primary-color;
  font-size: 16px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .job-heading,span,strong{
    margin-left: 20px;
  }
  .img-back{
    width: 100%;
    height:20vh;
  }
  #job-details{
    width: 100%;
    height: 20vh;
    background-size: 0%;
    background-color: #fff;
    border: none;
  }
  #job-details .job-details-content h2{
    font-size: 25px;
    font-weight: 700;
    color: black;
    margin-bottom: 0px;
  }

  .subheading{
    color: black;
    margin-right: 50px;
    font-size: 15px;
    text-align: center;
  }
}
// #job-details .job-details-content h2 span {
//   color: $primary-color;
//   text-decoration: underline;
// }
