@import "../shared/styles/generic-styles";

#intro-joinus {
  width: 100%;
  height: 30vh;
  position: relative;
  background-size: cover;
  background-color:  #F7F7F7;

}

#intro-joinus .intro-content-joinus {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

#intro-joinus .intro-content-joinus h2 {
  color: #0c2e8a;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
}

#intro-joinus .intro-content-joinus h2 span {
  color: $primary-color;
  text-decoration: underline;
}

.job_inline{
  display: inline;

}
.submitbtnjoinus{
  background: $secondary-color;
  border: 0;
  border-radius: 3px;
  padding: 5px 5px;
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
}
.submitbtnjoinus:hover{
  background: $primary-color;
  
  transition: 0.4s;
  margin-left: 20px;
}

.open-positions{
  background-color:$primary-color; 
  border-radius:25%; 
  padding: 5px 10px 5px 10px; 
  color:white
}
.job_opening{
  margin-bottom: 10px;
}

.contactbtn{
  background: $primary-color;
  border: 0;
  border-radius: 3px;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contactbtn:hover {
  background: $secondary-color;
}
