<template>
  <require from="../resources/elements/layout/navbar"></require>
  <require from="../resources/elements/layout/foot"></require>
  <require from="./joinus.scss"></require>

  <navbar></navbar>

  <section id="intro-joinus">
    <div class="intro-content-joinus">
      <h2>Join a great team doing great work !</h2>
      <p>As Mackedostav is growing rapidly we always are in need of you. Why dont you join our team ?</p>
    </div>
  </section>

  <br>
  <div class="container">
    <section id="joinus">
      <div class="section-header">
        <h2>Open positions</h2>
        <br>
        <span><strong>Prague,Czech Republic</strong></span>
        <hr>
      </div>

      <div class="row">
        <div class="col-12 job_opening">
          <p class="job_inline"><span class="open-positions">2x</span> Marketing Manager </p>
          <button class="submitbtnjoinus job_inline">View & Apply</button>
        </div>
        <div class="col-12 job_opening">
          <p class="job_inline"><span class="open-positions">2x</span> Marketing Manager </p>
          <button class="submitbtnjoinus job_inline">View & Apply</button>
        </div>
        <div class="col-12 job_opening">
          <p class="job_inline"><span class="open-positions">2x</span> Marketing Manager </p>
          <button class="submitbtnjoinus job_inline">View & Apply</button>
        </div>
        <div class="col-12 job_opening">
          <p class="job_inline"><span class="open-positions">2x</span> Marketing Manager </p>
          <button class="submitbtnjoinus job_inline">View & Apply</button>
        </div>
        <div class="col-12 job_opening">
          <p class="job_inline"><span class="open-positions">2x</span> Marketing Manager </p>
          <button class="submitbtnjoinus job_inline">View & Apply</button>
        </div>
        <div class="col-12 job_opening">
          <p class="job_inline"><span class="open-positions">2x</span> Marketing Manager </p>
          <button class="submitbtnjoinus job_inline">View & Apply</button>
        </div>
      </div>
      <br>
    </section>
  </div>

  <section id="intro-joinus">
    <div class="row">
      <div class="intro-content-joinus">
        <h4>Your skills dont match the requirements ?</h4>
        <p>No problem get in touch anyway. We'd love hearing from you</p>
        <button class="contactbtn">Contact us</button>
      </div>
    </div>
  </section>

  <foot></foot>
</template>
