<template>
  <require from="../resources/elements/layout/navbar"></require>
  <require from="../resources/elements/layout/foot"></require>
  <require from="./portfolio.scss"></require>

  <navbar></navbar>
  <div class="container">
    <br>

    <section id="portfolio">
      <div class="section-header">
        <h2>Our portfolio</h2>
        <span><i>Take a look at our recently completed projects</i></span>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../static/images/portfolio/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">House 1</h5>
              <p class="card-text">The house that we have built in prague 2 go view more to view more details.</p>
              <a href="#" class="primarybtn">View more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../static/images/portfolio/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">House 2</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="primarybtn">View more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../static/images/portfolio/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="primarybtn">View more</a>
            </div>
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../static/images/portfolio/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="primarybtn">View more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../static/images/portfolio/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="primarybtn">View more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../static/images/portfolio/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="primarybtn">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>

  <foot></foot>

</template>
