<template>
  <require from="../resources/elements/layout/navbar"></require>
  <require from="../resources/elements/layout/foot"></require>
  <require from="./portfolio-details.scss"></require>

  <navbar></navbar>
  <br>
  <section id="portfolio-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="../../static/images/portfolio/portfolio-details-try.jpg" style="width:100%">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="section-header">
            <h2>House 1</h2>
            <p>This house was built before 1 year, and it is located on Prague 2, 1000 Karlovy Most.This house was built
              before 1 year, and it is located on Prague 2,
              1000 Karlovy Most.This house was built before 1 year,
              and it is located on Prague 2, 1000 Karlovy Most. <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container gallery-container">
    <div class="tz-gallery">

      <div class="row">
        <div class="col-sm-6 col-md-3">
          <a class="lightbox" href="images/portfolio/1.jpg">
            <img src="../../static/images/portfolio/1.jpg" alt="Park">
          </a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a class="lightbox" href="images/portfolio/1.jpg">
            <img src="../../static/images/portfolio/1.jpg" alt="Bridge">
          </a>
        </div>
        <div class="col-sm-12 col-md-3">
          <a class="lightbox" href="images/portfolio/1.jpg">
            <img src="../../static/images/portfolio/1.jpg" alt="Tunnel">
          </a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a class="lightbox" href="images/portfolio/1.jpg">
            <img src="../../static/images/portfolio/1.jpg" alt="Coast">
          </a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a class="lightbox" href="images/portfolio/1.jpg">
            <img src="../../static/images/portfolio/1.jpg" alt="Rails">
          </a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a class="lightbox" href="images/portfolio/1.jpg">
            <img src="../../static/images/portfolio/1.jpg" alt="Traffic">
          </a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a class="lightbox" href="images/portfolio/1.jpg">
            <img src="../../static/images/portfolio/1.jpg" alt="Rocks">
          </a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a class="lightbox" href="images/portfolio/1.jpg">
            <img src="../../static/images/portfolio/1.jpg" alt="Benches">
          </a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a class="lightbox" href="images/portfolio/1.jpg">
            <img src="../../static/images/portfolio/1.jpg" alt="Sky">
          </a>
        </div>
      </div>
    </div>
  </div>

  <foot></foot>

</template>
