<template>
  <require from="./jobs.scss"></require>
  <br>
  <div class="container">
    <h4>Add new project</h4>
    <hr>
    <form submit.delegate="addProject()">
      <div class="row">
        <hr>
        <div class="col-4">
          <label>Enter project name</label>
          <input type="text" class="form-control" placeholder="ex. House 1" />
        </div>
        <div class="col-8">
          <label>Enter short description *</label>
          <input type="text" class="form-control" placeholder="ex. Prazchi namesti 2" />
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <label>Project description</label>
          <textarea class="form-control" style="height:100px;"></textarea>
        </div>
      </div>
      <br>
      <!-- TODO -->
      <div class="row">
        <div class="col-12">
          <label>Upload project images</label>
          <i>* The first image you upload will be the profile image for the project</i>
          <form submit.delegate="upload()">
            <input type="file" id="myFile" accept="image/*" files.bind="selectedFiles">
            <div class="mt-3">
              <button type="submit" if.bind="selectedFiles.length > 0" class="btn btn-primary">Upload</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-6" repeat.for="image of listOfImages">
          <div class="thumbnail">
            <span click.delegate="deleteImage(image)" class="fas fa-times float-right" style="cursor:pointer"></span>
            <img src.bind="image[0]" style="height:150px;width:150px;cursor:pointer">
          </div>
        </div>
      </div>
    </form>
  </div>

</template>
