<template>
  <require from="./jobs.scss"></require>
  <br>
  <div class="container">
    <h4>Add new job</h4>
    <hr>
    <form submit.delegate="addJob()">

      <div class="row">
        <hr>
        <div class="col-4">
          <label>Enter job position</label>
          <input type="text" class="form-control" placeholder="ex. Marketing Manager" />
        </div>
        <div class="col-4">
          <label>Slots</label>
          <select class="form-control" value.bind="selectedPositions">
            <option model.bind="null">Choose...</option>
            <option repeat.for="positions of availablePositions" model.bind="positions.name">
              ${positions.name}
            </option>
          </select>
        </div>
        <div class="col-4">
          <label>Full Time / Part time</label>
          <select class="form-control" value.bind="selectedWorkHours">
            <option model.bind="null">Choose...</option>
            <option repeat.for="hour of workHours" model.bind="hour.name">
              ${hour.name}
            </option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <label>Enter job description</label>
          <textarea class="form-control" style="height:100px;"> </textarea>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-12">
          <hr>
          <label>Add responsibility</label>
          <div class="input-group mb-3">
            <input ref="responsibilityField" type="text" class="form-control" placeholder="ex. Managment and settings"
              value.bind="responsibility">
            <div class="input-group-append">
              <button class="btn btn-info" id="basic-addon2" click.delegate="addResponsibility()"><i
                  class="fa fa-plus"></i> Add responsibility</button>
            </div>
          </div>
          <ul>
            <li repeat.for="resp of allResponsibilities">
              <span>${resp} <i class="fas fa-times" click.delegate="deleteResponsibility(resp)"></i></span>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <hr>
          <label>Add Requirements</label>
          <div class="input-group mb-3">
            <input ref="requirementField" type="text" class="form-control" placeholder="ex. Bachelor Degree"
              value.bind="requirement">
            <div class="input-group-append">
              <button class="btn btn-info" id="basic-addon2" click.delegate="addRequirement()"><i
                  class="fa fa-plus"></i>
                Add requirement</button>
            </div>
          </div>
          <ul>
            <li repeat.for="req of allRequirements">
              <span>${req} <i class="fas fa-times" click.delegate="deleteRequirement(req)"></i></span>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <hr>
          <label>What will you get</label>
          <div class="input-group mb-3">
            <input ref="benefitField" type="text" class="form-control" placeholder="ex. Competitive salary, payed gym.."
              value.bind="benefit">
            <div class="input-group-append">
              <button class="btn btn-info" id="basic-addon2" click.delegate="addBenefit()"><i class="fa fa-plus"></i>
                Add benefit</button>
            </div>
          </div>
          <ul>
            <li repeat.for="benefit of allBenefits">
              <span>${benefit} <i class="fas fa-times" click.delegate="deleteBenefit(benefit)"></i></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-5 offset-4">
          <button class="btn btn-success form-control">Add a job</button>

        </div>
      </div>
    </form>

  </div>


</template>
