<template>
  <require from="./jobs.scss"></require>
  <br>
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8">
            <h4>Manage open positions</h4>
            <hr>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-info add-new" style="float:right" click.delegate="navigateToAddJob()"><i class="fa fa-plus"></i> Add New Job</button>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th># slots</th>
            <th>Job position</th>
            <th>Location</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2</td>
            <td>Administration</td>
            <td>(171) 555-2222</td>
            <td>
              <a class="edit" title="Edit" data-toggle="tooltip"><i class="editbtn fas fa-edit"></i></a>
              <a class="delete" title="Delete" data-toggle="tooltip"><i class="deletebtn fas fa-trash"></i></a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Customer Service</td>
            <td>(313) 555-5735</td>
            <td>
              <a class="edit" title="Edit" data-toggle="tooltip"><i class="editbtn fas fa-edit"></i></a>
              <a class="delete" title="Delete" data-toggle="tooltip"><i class="deletebtn fas fa-trash"></i></a>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>Human Resources</td>
            <td>(503) 555-9931</td>
            <td>
              <a class="edit" title="Edit" data-toggle="tooltip"><i class="editbtn fas fa-edit"></i></a>
              <a class="delete" title="Delete" data-toggle="tooltip"><i class="deletebtn fas fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
