<template>
  <require from="./admin.scss"></require>

  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Makedostav</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-1">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item" repeat.for="route of router.navigation">
                <a href.bind="route.href" class="nav-link ${route.isActive === true ? 'active': ''}">
                  <i class="${route.config.icon}"> </i>
                  ${route.title}
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-md-10">
        <slot></slot>
      </div>
    </div>
  </div>
 
</template>
