<template>
  <require from="./jobs.scss"></require>
  <br>
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8">
            <h4>Manage portfolio</h4>
            <hr>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-info add-new" style="float:right" click.delegate="navigateToProject()"><i class="fa fa-plus"></i> Add New
              Project</button>
          </div>
        </div>
      </div>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Project Name</th>
            <th>Project Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1,001</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td>
              <a class="edit" title="Edit" data-toggle="tooltip"><i class="editbtn fas fa-edit"></i></a>
              <a class="delete" title="Delete" data-toggle="tooltip"><i class="deletebtn fas fa-trash"></i></a>
            </td>
          </tr>
          <tr>
            <td>1,002</td>
            <td>amet</td>
            <td>consectetur</td>
            <td>
              <a class="edit" title="Edit" data-toggle="tooltip"><i class="editbtn fas fa-edit"></i></a>
              <a class="delete" title="Delete" data-toggle="tooltip"><i class="deletebtn fas fa-trash"></i></a>
            </td>
          </tr>
          <tr>
            <td>1,003</td>
            <td>Integer</td>
            <td>nec</td>
            <td>
              <a class="edit" title="Edit" data-toggle="tooltip"><i class="editbtn fas fa-edit"></i></a>
              <a class="delete" title="Delete" data-toggle="tooltip"><i class="deletebtn fas fa-trash"></i></a>
            </td>
          </tr>
          <tr>
            <td>1,003</td>
            <td>libero</td>
            <td>Sed</td>
            <td>
              <a class="edit" title="Edit" data-toggle="tooltip"><i class="editbtn fas fa-edit"></i></a>
              <a class="delete" title="Delete" data-toggle="tooltip"><i class="deletebtn fas fa-trash"></i></a>
            </td>
          </tr>
          <tr>
            <td>1,004</td>
            <td>dapibus</td>
            <td>diam</td>
            <td>
              <a class="edit" title="Edit" data-toggle="tooltip"><i class="editbtn fas fa-edit"></i></a>
              <a class="delete" title="Delete" data-toggle="tooltip"><i class="deletebtn fas fa-trash"></i></a>
            </td>
          </tr>
          <tr>
            <td>1,005</td>
            <td>Nulla</td>
            <td>quis</td>
            <td>
              <a class="edit" title="Edit" data-toggle="tooltip"><i class="editbtn fas fa-edit"></i></a>
              <a class="delete" title="Delete" data-toggle="tooltip"><i class="deletebtn fas fa-trash"></i></a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</template>
