<template>
  <require from="../src/lib/easing/easing.min.js"></require>
  <require from="../src/lib/superfish/hoverIntent.js"></require>
  <require from="../src/lib/superfish/superfish.min.js"></require>
  <!-- <require from="../src/lib/wow/wow.min.js"></require> -->
  <!-- <script src="lib/owlcarousel/owl.carousel.min.js"></script> -->
  <!-- <script src="lib/magnific-popup/magnific-popup.min.js"></script> -->
  <!-- <script src="lib/sticky/sticky.js"></script> -->
</template>
